.Book {
	.row-button {
		display: flex;
		justify-content: flex-end;
		margin-right: 5%;
		padding-bottom: 2%;
	}
	.page {
		align-self: center;
		font-size: 14px;
		line-height: 20px;
	}
	.Card-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: 5%;
		padding-right: 5%;
	}
	.buttonCount {
		height: 50px;
		filter: invert(0%);
	}
	.btn {
		border: 0;
		background-color: transparent;
		cursor: pointer;
		margin-left: 5px;
	}
	.border-circle {
		border: 1px solid rgba(51, 51, 51, 0.2);
		box-sizing: border-box;
		transform: matrix(-1, 0, 0, 1, 0, 0);
		padding: 10px;
		border-radius: 50%;
	}
	@media (max-width: 768px) {
		.row-button {
			justify-content: space-around;
		}
		.page {
			position: absolute;
		}
	}
}
.backgroundImageBook {
	background-image: url('../../assets/images/backgroundBook.svg');
	filter: brightness(100%);
	display: block;
	height: 100vh;
}
